<h2><%= t("devise.views.registrations.edit.title", resource: resource_name.to_s.humanize) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t("devise.views.registrations.edit.waiting_confirmation", email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i><%= t("devise.views.registrations.edit.leave_blank") %></i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t("devise.views.registrations.new.minimum_password_length", count: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i><%= t("devise.views.registrations.edit.current_password_help") %></i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t("devise.views.registrations.edit.update") %>
  </div>
<% end %>

<h3><%= t("devise.views.registrations.edit.cancel_title") %></h3>

<div>
  <%= t("devise.views.registrations.edit.unhappy") %>
  <%= button_to t("devise.views.registrations.edit.cancel_account"), registration_path(resource_name), data: { confirm: t("devise.views.registrations.edit.confirm_cancel"), turbo_confirm: t("devise.views.registrations.edit.confirm_cancel") }, method: :delete %>
</div>

<%= link_to t("devise.views.registrations.edit.back"), :back %>
