<p><%= t("devise.views.mailer.greeting", email: @resource.email) %></p>

<p><%= t("devise.views.mailer.reset_password_instructions") %></p>

<p><%= link_to t("devise.views.mailer.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.views.mailer.ignore_email") %></p>
<p><%= t("devise.views.mailer.password_wont_change") %></p>
